{
  "frequency": 2,
  "checks": [
    {
      "name": "cms",
      "type": "http",
      "address": "http://localhost:9382",
      "timeout": 5,
      "onFail": ["restart cms"]
    }
  ],
  "outputs": {
    "success": [
      {"type": "stdout"}
    ],
    "failure": [
      {"type": "stderr"},
      {
        "type": "file",
        "path": "/var/log/opt/check.log"
      }
    ]
  },
  "actions": {
    "restart cms": {
      "type": "shell",
      "command": "restart",
      "arguments": ["cms"],
      "dir": "/opt/cms",
      "retries": 5,
      "delay": 1
    }
  }
}
